In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
uid_train = pd.read_csv('../data/uid_train.txt',sep='\t',header=None,names=('uid','label'))
voice_train = pd.read_csv('../data/voice_train.txt',sep='\t',header=None,names=('uid','opp_num','opp_head','opp_len','start_time','end_time','call_type','in_out'),dtype={'start_time':int,'end_time':int})
sms_train = pd.read_csv('../data/sms_train.txt',sep='\t',header=None,names=('uid','opp_num','opp_head','opp_len','start_time','in_out'),dtype={'start_time':str})
wa_train = pd.read_csv('../data/wa_train.txt',sep='\t',header=None,names=('uid','wa_name','visit_cnt','visit_dura','up_flow','down_flow','wa_type','date'),dtype={'date':str})

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
voice_test = pd.read_csv('../data/voice_test_b.txt',sep='\t',header=None,names=('uid','opp_num','opp_head','opp_len','start_time','end_time','call_type','in_out'),dtype={'start_time':int,'end_time':int})
sms_test = pd.read_csv('../data/sms_test_b.txt',sep='\t',header=None,names=('uid','opp_num','opp_head','opp_len','start_time','in_out'),dtype={'start_time':str})
wa_test = pd.read_csv('../data/wa_test_b.txt',sep='\t',header=None,names=('uid','wa_name','visit_cnt','visit_dura','up_flow','down_flow','wa_type','date'),dtype={'date':str})

In [4]:
uid_test = pd.DataFrame({'uid':pd.unique(wa_test['uid'])})
uid_test.to_csv('../data/uid_test_b.txt',index=None)

In [5]:
voice = pd.concat([voice_train,voice_test],axis=0)
sms = pd.concat([sms_train,sms_test],axis=0)
wa = pd.concat([wa_train,wa_test],axis=0)
sms.head(20)

,uid,opp_num,opp_head,opp_len,start_time,in_out
0,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20174042,1
1,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20174130,1
2,u4003,1B15607F3E6D167B44D46046D5993D87,189,11,20015746,0
3,u4003,1B15607F3E6D167B44D46046D5993D87,189,11,20015640,0
4,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20045300,1
5,u4003,B378E065731B897E7295926B27CBA0D5,186,11,20045253,1
6,u2354,FFCB99E153F74A7A6BB2481E9EAA666D,132,11,20104305,1
7,u2354,FFCB99E153F74A7A6BB2481E9EAA666D,132,11,20104305,1
8,u2354,FFCB99E153F74A7A6BB2481E9EAA666D,132,11,20170619,1
9,u2354,7FEFA80914C7C9336EEC31BAEC427E14,106,9,20090930,1
10,u2354,7FEFA80914C7C9336EEC31BAEC427E14,106,9,20090930,1
11,u2354,FFCB99E153F74A7A6BB2481E9EAA666D,132,11,20170619,1
12,u2354,FFCB99E153F74A7A6BB2481E9EAA666D,132,11,20194430,1
13,u1459,020A4F661545FDF78C9EC479EFE6F27A,131,11,20000125,1
14,u1459,020A4F661545FDF78C9EC479EFE6F27A,131,11,20084644,1
15,u1459,020A4F661545FDF78C9EC479EFE6F27A,131,11,20084644,1
16,u1459,020A4F661545FDF78C9EC479EFE6F27A,131,11,20092521,1
17,u1459,2C94BFAEEB30F858860967DC54844536,100,9,20113811,1
18,u1459,2C94BFAEEB30F858860967DC54844536,100,9,20113811,1
19,u1459,020A4F661545FDF78C9EC479EFE6F27A,131,11,20152805,1

In [6]:
voice['voice_len'] = (((voice['end_time'] //1e6 - voice['start_time'] // 1e6) * 24 + (voice['end_time'] // 1e4 % 100 - voice['start_time'] // 1e4 % 100)) * 60 + (voice['end_time'] // 1e2 % 100 - voice['start_time'] // 1e2 % 100)) * 60 + (voice['end_time'] % 100 - voice['start_time'] % 100)
voice['voice_len'] = voice['voice_len'].astype(int)
voice.head(10)

,uid,opp_num,opp_head,opp_len,start_time,end_time,call_type,in_out,voice_len
0,u0113,38D54642A237A11BB18455FC1E505292,132,11,26115956,26120033,1,1,37
1,u0113,38D54642A237A11BB18455FC1E505292,132,11,26115623,26115707,1,1,44
2,u0113,38D54642A237A11BB18455FC1E505292,132,11,26174233,26174321,1,1,48
3,u0113,38D54642A237A11BB18455FC1E505292,132,11,26070423,26070512,1,0,49
4,u3340,010A66F2AD42C48C44897A3DEC96A2A1,139,11,26201745,26201825,1,1,40
5,u3340,BC16EA96F7447486FE25AC2BB7A665EF,185,11,26060320,26060349,1,1,29
6,u3340,EE497EAB9DA2FB0805390237F983D454,100,7,26061046,26061115,1,0,29
7,u3340,010A66F2AD42C48C44897A3DEC96A2A1,139,11,26192655,26193840,1,1,705
8,u2016,5D2654B214731E788C5206A96BD6DA59,139,11,26112314,26112403,1,1,49
9,u2016,084501372689ECABD58FBB3E7FF254B8,131,11,26112217,26112311,1,0,54

In [7]:
##  baseline

### 通话记录

In [8]:
voice_opp_num = voice.groupby(['uid'])['opp_num'].agg({'unique_count': lambda x: len(pd.unique(x)),'count':'count'}).add_prefix('voice_opp_num_').reset_index()

voice_opp_head=voice.groupby(['uid'])['opp_head'].agg({'unique_count': lambda x: len(pd.unique(x))}).add_prefix('voice_opp_head_').reset_index()

voice_opp_len=voice.groupby(['uid','opp_len'])['uid'].count().unstack().add_prefix('voice_opp_len_').reset_index().fillna(0)

voice_call_type = voice.groupby(['uid','call_type'])['uid'].count().unstack().add_prefix('voice_call_type_').reset_index().fillna(0)

voice_in_out = voice.groupby(['uid','in_out'])['uid'].count().unstack().add_prefix('voice_in_out_').reset_index().fillna(0)

voice_call_time = voice.groupby(['uid'])['voice_len'].agg(['std','max','min','median','mean','sum']).add_prefix('voice_call_time_').reset_index().fillna(0)

voice_in_num = voice.groupby(['uid','opp_head'])['in_out'].sum().unstack().add_prefix('voice_in_num_opp_').reset_index().fillna(0)

voice_out_num = voice.groupby(['uid','opp_head'])['in_out'].agg(lambda x : x.count() - x.sum()).unstack().add_prefix('voice_out_num_opp_').reset_index().fillna(0)
voice_out_num.head(5)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

opp_head,uid,voice_out_num_opp_0,voice_out_num_opp_1,voice_out_num_opp_2,voice_out_num_opp_3,voice_out_num_opp_4,voice_out_num_opp_5,voice_out_num_opp_6,voice_out_num_opp_7,voice_out_num_opp_8,...,voice_out_num_opp_890,voice_out_num_opp_895,voice_out_num_opp_898,voice_out_num_opp_9,voice_out_num_opp_950,voice_out_num_opp_951,voice_out_num_opp_952,voice_out_num_opp_968,voice_out_num_opp_969,voice_out_num_opp_DDD
0,u0001,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,u0002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,u0003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,u0004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,u0005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 短信记录

In [9]:
sms_opp_num = sms.groupby(['uid'])['opp_num'].agg({'unique_count': lambda x: len(pd.unique(x)),'count':'count'}).add_prefix('sms_opp_num_').reset_index()

sms_opp_head=sms.groupby(['uid'])['opp_head'].agg({'unique_count': lambda x: len(pd.unique(x))}).add_prefix('sms_opp_head_').reset_index()

sms_opp_len=sms.groupby(['uid','opp_len'])['uid'].count().unstack().add_prefix('sms_opp_len_').reset_index().fillna(0)

sms_in_out = sms.groupby(['uid','in_out'])['uid'].count().unstack().add_prefix('sms_in_out_').reset_index().fillna(0)

sms_in_num = sms.groupby(['uid','opp_head'])['in_out'].sum().unstack().add_prefix('sms_in_num_opp_').reset_index().fillna(0)
sms_out_num = sms.groupby(['uid','opp_head'])['in_out'].agg(lambda x : x.count() - x.sum()).unstack().add_prefix('sms_out_num_opp_').reset_index().fillna(0)
sms_in_num.head(5)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

opp_head,uid,sms_in_num_opp_0,sms_in_num_opp_1,sms_in_num_opp_2,sms_in_num_opp_4,sms_in_num_opp_6,sms_in_num_opp_7,sms_in_num_opp_8,sms_in_num_opp_9,sms_in_num_opp_10,...,sms_in_num_opp_400,sms_in_num_opp_600,sms_in_num_opp_861,sms_in_num_opp_866,sms_in_num_opp_867,sms_in_num_opp_868,sms_in_num_opp_869,sms_in_num_opp_951,sms_in_num_opp_952,sms_in_num_opp_955
0,u0001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,u0002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,u0003,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,u0004,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,u0005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 网站/APP记录

In [26]:
wa_name = wa.groupby(['uid'])['wa_name'].agg({'unique_count': lambda x: len(pd.unique(x)),'count':'count'}).add_prefix('wa_name_').reset_index()
visit_cnt = wa.groupby(['uid'])['visit_cnt'].agg(['std','max','min','median','mean','sum']).add_prefix('wa_visit_cnt_').reset_index()

visit_dura = wa.groupby(['uid'])['visit_dura'].agg(['std','max','min','median','mean','sum']).add_prefix('wa_visit_dura_').reset_index()


up_flow = wa.groupby(['uid'])['up_flow'].agg(['std','max','min','median','mean','sum']).add_prefix('wa_up_flow_').reset_index()

down_flow = wa.groupby(['uid'])['down_flow'].agg(['std','max','min','median','mean','sum']).add_prefix('wa_down_flow_').reset_index()

wa_type_num = wa.groupby(['uid','wa_type'])['uid'].count().unstack().add_prefix('wa_type_').reset_index().fillna(0)
wa_type_num.head(5)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

wa_type    uid  wa_type_0.0  wa_type_1.0
0        u0001        955.0        200.0
1        u0002         29.0          0.0
2        u0003        982.0        185.0
3        u0004       1372.0        308.0
4        u0005        557.0         84.0

In [27]:
feature = [voice_opp_num,voice_opp_head,voice_opp_len,voice_call_type,voice_in_out,voice_call_time,voice_in_num,voice_out_num,sms_opp_num,sms_opp_head,sms_opp_len,sms_in_out,sms_in_num,sms_out_num,wa_name,visit_cnt,visit_dura,up_flow,
           down_flow,wa_type_num]

In [28]:
train_feature = uid_train
for feat in feature:
    train_feature=pd.merge(train_feature,feat,how='left',on='uid')

In [29]:
test_feature = uid_test
for feat in feature:
    test_feature=pd.merge(test_feature,feat,how='left',on='uid')

In [30]:
train_feature.to_csv('../data/train_featureV2.csv',index=None)
test_feature.to_csv('../data/test_featureV2.csv',index=None)

In [31]:
train_feature.head(5)

,uid,label,voice_opp_num_count,voice_opp_num_unique_count,voice_opp_head_unique_count,voice_opp_len_3,voice_opp_len_5,voice_opp_len_6,voice_opp_len_7,voice_opp_len_8,...,wa_up_flow_mean,wa_up_flow_sum,wa_down_flow_std,wa_down_flow_max,wa_down_flow_min,wa_down_flow_median,wa_down_flow_mean,wa_down_flow_sum,wa_type_0.0,wa_type_1.0
0,u0001,0,79.0,22.0,17.0,0.0,3.0,0.0,0.0,0.0,...,172279.362771,198982664.0,4.243115e+06,58773144.0,0.0,9683.0,8.325406e+05,9.615844e+08,955.0,200.0
1,u0002,0,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,4433.551724,128573.0,3.908229e+03,15438.0,0.0,1656.0,3.267207e+03,9.474900e+04,29.0,0.0
2,u0003,0,21.0,15.0,10.0,0.0,1.0,0.0,0.0,2.0,...,60843.138817,71003943.0,1.445421e+07,457021859.0,0.0,5632.0,1.115881e+06,1.302233e+09,982.0,185.0
3,u0004,0,254.0,77.0,31.0,0.0,1.0,0.0,0.0,12.0,...,181739.734524,305322754.0,1.564955e+07,513377344.0,0.0,14205.0,2.082341e+06,3.498333e+09,1372.0,308.0
4,u0005,0,401.0,55.0,28.0,0.0,4.0,0.0,0.0,0.0,...,63241.511700,40537809.0,1.617302e+06,28858654.0,0.0,6916.0,3.556163e+05,2.279500e+08,557.0,84.0

In [32]:
test_feature.head(5)

,uid,voice_opp_num_count,voice_opp_num_unique_count,voice_opp_head_unique_count,voice_opp_len_3,voice_opp_len_5,voice_opp_len_6,voice_opp_len_7,voice_opp_len_8,voice_opp_len_9,...,wa_up_flow_mean,wa_up_flow_sum,wa_down_flow_std,wa_down_flow_max,wa_down_flow_min,wa_down_flow_median,wa_down_flow_mean,wa_down_flow_sum,wa_type_0.0,wa_type_1.0
0,u7000,4.0,4.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,...,231377.850853,420413555.0,2.895230e+07,1.021348e+09,0.0,11821.0,3.187213e+06,5.791166e+09,1483.0,334.0
1,u7001,3.0,2.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,...,70733.387097,13156410.0,6.767106e+06,7.988735e+07,0.0,13559.0,1.389546e+06,2.584555e+08,161.0,25.0
2,u7002,65.0,16.0,9.0,0.0,0.0,0.0,0.0,1.0,0.0,...,101326.911616,40125457.0,1.602130e+07,2.616454e+08,0.0,1638.0,2.112441e+06,8.365267e+08,316.0,80.0
3,u7003,90.0,22.0,16.0,0.0,1.0,0.0,3.0,0.0,0.0,...,57256.295964,63840770.0,4.979388e+06,8.604087e+07,0.0,12115.0,7.897895e+05,8.806153e+08,943.0,172.0
4,u7004,28.0,7.0,6.0,0.0,1.0,0.0,0.0,0.0,0.0,...,606.800000,9102.0,7.252779e+02,2.264000e+03,52.0,212.0,6.444667e+02,9.667000e+03,15.0,0.0

In [25]:
wa['wa_name'].value_counts()

微信               211336
百度地图             169806
淘宝网              161886
支付宝              150571
QQ               145255
腾讯网              145204
高德官方网站           134588
百度               133224
苹果公共资源           112703
快手                94408
头条网公共资源           93927
新浪微博              92520
DNS查询流量           92149
未识别TCP业务流量        91343
网络连接流量            90788
Web上网流量（Get）      86683
Web上网流量（Post）     84695
腾讯视频              77091
天猫商城              76494
友盟广告平台            72373
腾讯公共资源            69663
腾讯地图              67184
未识别UDP业务流量        65793
微信网               65214
小米商城              65145
高德导航              63464
crashlytics       60865
爱奇艺               60661
其他业务流量            58489
iCloud            55924
                  ...
河北省红十字基金会医院           1
XXXHDPORN             1
众盟商家平台                1
宅男女神                  1
QQ分组大全                1
浙江维尔科技股份有限公司          1
Riot                  1
BOXER                 1
神工众志科技有限公司            1
设计癖                   1
信网手机版                 1
独家网                   1
Clue                  1
阿里伯乐                  1
光棍影院                  1
全明星MC喊麦网              1
3edu教育网               1
浙江省新华书店集团             1
千人掌                   1
PC软件下载站               1
标志情报局                 1
闹钟健身网                 1
COMM100               1
阿牛直播                  1
无锡人力资源招聘网             1
数字大学城                 1
安泰科技股份有限公司            1
天上友嘉社区                1
坦途教育网                 1
U盘启动盘制作工具             1
Name: wa_name, Length: 15160, dtype: int64